<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Expense Tracker</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="login-container">
        <div class="login-form">
            <h1>Welcome Back</h1>
            <p>Login to your account!</p>

            {{#if message}}
            <p>{{message}}</p>
            {{/if}}
            <form action="/login" method="POST">


                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="you@email.com">

                <label for="password">Password </label>
                <input type="password" id="password" name="password" required>


                <button type="submit" class="login-btn"> Login</button>
            </form>
            <p>Don't have an account? <strong><a href="/register" class="register-in-link">Register Now</a></strong> &nbsp;  &nbsp;&nbsp;  <strong><a href="/forgot-password" class="register-in-link">Forgot Password</a></strong></p>
        </div>
        <div class="login-image">
            <img src="/images/Register Illustration.jpg" alt="Register Illustration">

        </div>

    </div>
    <script src="http://localhost:5000/scripts/login.js"></script>

</body>

</html>