
<script>
        setTimeout(() => {
            window.location.href = "/login";
        }, 10000); // Redirect after
    </script>
<body>
    <h2>Registration Successful!</h2>
    <p>Scan the QR code below with your Authenticator app to enable 2FA.</p>
    <img src="{{qr}}" alt="Scan this QR code with your Authenticator app" />
   <p>You will be redirected to the login page shortly...</p>
    <p>If not, <a href="/login">click here</a>.</p>
</body>


