<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Expense Tracker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="register-container">
        <div class="register-form">
            <h1>Create an Account</h1>
            <p>Sign up now and unlock exclusive access!</p>
            
            {{#if message}}
                <p class="error-message">{{message}}</p> <!-- Display message if any -->
            {{/if}}

            {{#if errors}}
                <ul class="error-list">
                    {{#each errors}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            {{/if}}

            <form id="registerForm" action="/register" method="POST">
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" value="{{fullname}}" required placeholder="Your Full Name">
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{email}}" required placeholder="you@email.com">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required pattern=".{8,}" title="Password must be at least 8 characters long">

                <label for="confirmpassword">Confirm Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" required>
                
                <button type="submit" class="register-btn">Create Account</button>
            </form>
            <p>Already have an account?<strong><a href="/login" class="sign-in-btn">Sign in</a></strong></p>
        </div>
        <div class="register-image">
            <img src="/images/Register Illustration.jpg" alt="Register Illustration">
        </div>
    </div>

    <script src="http://localhost:5000/scripts/register.js"></script>

    
</body>
</html>
